
//  input configuration //
input {
    keyboard {
        xkb {
            layout "us"; // Use the US keyboard layout
        };
        numlock; // Enable numlock on startup
};
    mouse {
    	accel-speed -0.15
    	accel-profile "flat"
    }
    touchpad {
        accel-speed 0.25
        accel-profile "flat";
        tap; // Enable tap-to-click
        natural-scroll; // Enable natural (macOS-style) scrolling
        scroll-factor 0.35
    };
    focus-follows-mouse max-scroll-amount="18%"; // Automatically focus windows under the mouse pointer
    // workspace-auto-back-and-forth; // Enable workspace back & forth switching
};



gestures {
  hot-corners {
  off
  }
  dnd-edge-view-scroll {
        trigger-width 100
        max-speed 2000
        delay-ms 100
    }
}



//  output configuration //
output "HDMI-A-1" {
    mode "3840x2160@60.000"; // Set resolution and refresh rate
    scale 1.56; // No scaling (use 2 for HiDPI) // 1.375 for extremely close //
    focus-at-startup
}
output "eDP-1" {
    mode "1920x1080@60.002";
    scale 0.93;
}



//  startup applications  //
spawn-at-startup "~/.config/niri/scripts/startup_script.sh"
// spawn-at-startup "hyprlock"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &";
// spawn-at-startup "swww-daemon"
// spawn-at-startup "swww-daemon" "-n" "overlay"
// spawn-at-startup "waybar"
spawn-at-startup "avizo-service"
spawn-sh-at-startup "input-remapper-control --command autoload"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--pwl-pasterimary" "--watch" "cliphist" "store"  
screenshot-path "~/Pictures/Screenshots/%d.%m.%Y %I:%M %p.png"
// spawn-at-startup "qs" "-c" "noctalia-shell"



//  keybindings //
binds {
    // noctalia stuff  //
    // SUPER+F5 { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle"; };
    // SUPER+N { spawn-sh "qs -c noctalia-shell ipc call notifications dismissAll"; };
    // SUPER+GRAVE { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; };
    SUPER+I hotkey-overlay-title="noctalia-settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; };
    // SUPER+Escape hotkey-overlay-title="noctalia-power-menu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }; 
    // SUPER+L allow-when-locked=true hotkey-overlay-title="Lock Screen: noctalia-lock" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; };



    // rofi stuff //
    SUPER+V hotkey-overlay-title="rofi-cliphist" { spawn "~/.config/rofi/scripts/clipboard.sh"; }; // requires cliphist
    SUPER+SHIFT+V hotkey-overlay-title="rofi-emoji" { spawn-sh "rofi -modi emoji -show emoji -theme-str 'listview {lines: 10;}' -theme-str 'window {width: 30%;}'"; }; // requires rofi-emoji
    SUPER+Escape { spawn-sh "rofi-power"; };
    SUPER+SHIFT+C { spawn-sh "rofi -show calc -theme-str 'window { width: 15%; }' -theme-str 'listview {lines: 1;}'"; }; // requires rofi-calc
    // ALT+TAB { spawn-sh "rofi -show window -theme-str 'window { width: 62%; }' -theme-str 'listview {lines: 15;}'"; };
    SUPER+SHIFT+B { spawn-sh "~/.config/rofi/scripts/rofi-bluetooth-claude.sh"; };
    ALT+CONTROL+S { spawn-sh "~/.config/rofi/scripts/select-audio.sh"; };
    SUPER+SPACE hotkey-overlay-title="Open App Launcher: rofi_drun" { spawn-sh "rofi -show drun -theme-str 'listview {lines: 10;}' -theme-str 'window {width: 17%;}'"; };
    SUPER+GRAVE { spawn-sh "~/.config/rofi/scripts/wallpaper-rofi-2.sh"; };
    SUPER+ALT+E { spawn-sh "~/.config/rofi/scripts/file-selector/rofi-file-selector.sh"; };



    // other stuff to escape quickshell
    SUPER+L allow-when-locked=true { spawn "hyprlock"; };
    SUPER+N { spawn-sh "makoctl dismiss -a"; };
    SUPER+F5 { spawn-sh "gpu-screen-recorder -w screen -f 60 -fm cfr -k h264 -c mp4 -a $(pactl get-default-sink).monitor -o ~/Videos/$(date +%d.%m.%Y_%I:%M%p).mp4 & notify-send 'recording started'"; };
    SUPER+F4 { spawn-sh "pkill -INT -f gpu-screen-recorder && notify-send 'recording stopped'"; };



    // dms stuff //
    // SUPER+L allow-when-locked=true { spawn-sh "dms ipc call lock lock"; };
    // SUPER+I { spawn-sh "dms ipc call settings toggle"; };
    // SUPER+N { spawn-sh "dms ipc call notifications dismissAllPopups"; };
    // SUPER+V { spawn-sh "dms ipc call clipboard toggle"; };
    // SUPER+Escape { spawn-sh "dms ipc call powermenu toggle"; };
    // SUPER+GRAVE { spawn-sh "dms ipc call dankdash wallpaper"; };



    // brightness controls //
    SHIFT+F2 allow-when-locked=true hotkey-overlay-title="increase_brightness" { spawn-sh "lightctl up" ; };
    SHIFT+F1 allow-when-locked=true hotkey-overlay-title="decrease_brightness" { spawn-sh "lightctl down" ; };



    // applications //
    SUPER+RETURN hotkey-overlay-title="Open Terminal: foot" { spawn-sh "foot"; };
    SUPER+B hotkey-overlay-title="Open Browser: zen" { spawn-sh "zen-beta"; };
    SUPER+E hotkey-overlay-title="File Manager: nautilus" { spawn-sh "nautilus --new-window"; };



    // audio controls //
    ALT+F2 allow-when-locked=true { spawn-sh "volumectl -u up"; };
    ALT+F1 allow-when-locked=true { spawn-sh "volumectl -u down"; };
    ALT+F3 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; };
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; };
    F1 allow-when-locked=true { spawn-sh "playerctl previous"; };
    F2 allow-when-locked=true { spawn-sh "playerctl play-pause"; };
    F3 allow-when-locked=true { spawn-sh "playerctl next"; };




    // window movement and focus //
    CTRL+SHIFT+Z { close-window; };
    SUPER+CTRL+SHIFT+Q { consume-window-into-column; };
    SUPER+CTRL+SHIFT+W { expel-window-from-column; };
    SUPER+SHIFT+X { switch-focus-between-floating-and-tiling;};
    ALT+A { focus-column-left; };
    ALT+D { focus-column-right; };
    ALT+W { focus-window-up; };
    ALT+S { focus-window-down; };
    SUPER+SHIFT+LEFT { move-column-left; };
    CTRL+SHIFT+A { move-column-left; };
    SUPER+SHIFT+RIGHT { move-column-right; };
    CTRL+SHIFT+D { move-column-right; };
    SUPER+SHIFT+UP { move-window-up; };
    CTRL+SHIFT+W { move-window-up; };
    SUPER+SHIFT+DOWN { move-window-down; };
    CTRL+SHIFT+S { move-window-down; };
    SUPER+A { focus-column-first; };
    SUPER+D { focus-column-last; };
    SUPER+ALT+A { move-column-to-first; };
    SUPER+ALT+D { move-column-to-last; };
    SUPER+WHEELSCROLLRIGHT { focus-column-right; };
    SUPER+WHEELSCROLLLEFT { focus-column-left; };
    SUPER+CTRL+WHEELSCROLLRIGHT { move-column-right; };
    SUPER+CTRL+WHEELSCROLLLEFT { move-column-left; };
    SUPER+SHIFT+WHEELSCROLLDOWN { focus-column-right; };
    SUPER+SHIFT+WHEELSCROLLUP { focus-column-left; };
    SUPER+CTRL+SHIFT+WHEELSCROLLDOWN { move-column-right; };
    SUPER+CTRL+SHIFT+WHEELSCROLLUP { move-column-left; };
    SUPER+CTRL+SHIFT+X { maximize-column; };
    SUPER+CTRL+SHIFT+Z { switch-preset-column-width; };



    // workspace switching //
    SUPER+W { focus-workspace-up; };
    SUPER+S { focus-workspace-down; };
    SUPER+CONTROL+SHIFT+ALT+Z cooldown-ms=300 { focus-workspace-up; }; 
    SUPER+CONTROL+SHIFT+ALT+X cooldown-ms=300 { focus-workspace-down; };
    SUPER+WheelScrollUp   cooldown-ms=160 { focus-workspace-up; }
    SUPER+WheelScrollDown cooldown-ms=160 { focus-workspace-down; }
    SUPER+1 { focus-workspace 1; };
    SUPER+2 { focus-workspace 2; };
    SUPER+3 { focus-workspace 3; };
    SUPER+4 { focus-workspace 4; };
    SUPER+5 { focus-workspace 5; };
    SUPER+6 { focus-workspace 6; };
    SUPER+7 { focus-workspace 7; };
    SUPER+8 { focus-workspace 8; };
    SUPER+9 { focus-workspace 9; };
    SUPER+TAB { focus-workspace-previous; };



    // workspace moving //
    CTRL+SHIFT+1 { move-column-to-workspace 1; };
    CTRL+SHIFT+2 { move-column-to-workspace 2; };
    CTRL+SHIFT+3 { move-column-to-workspace 3; };
    CTRL+SHIFT+4 { move-column-to-workspace 4; };
    CTRL+SHIFT+5 { move-column-to-workspace 5; };
    CTRL+SHIFT+6 { move-column-to-workspace 6; };
    CTRL+SHIFT+7 { move-column-to-workspace 7; };
    CTRL+SHIFT+8 { move-column-to-workspace 8; };
    CTRL+SHIFT+9 { move-column-to-workspace 9; };
    SUPER+SHIFT+S { move-column-to-workspace-down; };
    SUPER+SHIFT+W { move-column-to-workspace-up; };



    // layout controls //
    SUPER+CTRL+X { expand-column-to-available-width; };
    SUPER+C { center-column; };
    SUPER+CTRL+C { center-visible-columns; };
    SUPER+CTRL+A { set-column-width "-3%"; };
    SUPER+CTRL+D { set-column-width "+3%"; };
    SUPER+CTRL+S { set-window-height "-3%"; };
    SUPER+CTRL+W { set-window-height "+3%"; };
    SUPER+T { toggle-window-floating; };
    SUPER+F { fullscreen-window; };
    SUPER+Z { toggle-column-tabbed-display; };
    ALT+SHIFT+S repeat=false { toggle-overview; };
    SUPER+CTRL+Z { spawn "~/.config/niri/scripts/fit_all.sh"; };



    // screenshots //
    SUPER+F7 { screenshot; };
    SUPER+F6 { screenshot-window; };
    SUPER+F8 { screenshot-screen; };



    // exit / power //
    CTRL+ALT+DELETE { quit; }; // Also quits Niri
    SUPER+Q { power-off-monitors; };
   }



// layout settings //
overview {
	zoom 0.3333
	backdrop-color "#141414"
}
layout {
    gaps 3; // Gap between windows
    center-focused-column "never";
    background-color "transparent"
    preset-column-widths {
        proportion 0.3333;
        proportion 0.5;
        proportion 0.6667; };
    focus-ring {
        width 3;
    //    active-color "#C0C0C0";
    //     inactive-color "#a7b3e5";
    };
    shadow {
        softness 30;
        spread 5;
        offset x=0 y=5;
        color "#0007";
    };
     default-column-width { proportion 0.3333; }
  tab-indicator {
        place-within-column
        width 5
    };
    always-center-single-column
};



//  animation settings //
animations {
slowdown 2
window-resize {
        spring damping-ratio=0.7 stiffness=37 epsilon=0.0001
    }
    screenshot-ui-open {
    duration-ms 800
    curve "ease-out-expo"
    }
    overview-open-close {
        spring damping-ratio=0.77 stiffness=85 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.82 stiffness=90 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=0.82 stiffness=165 epsilon=0.0001
    }
    horizontal-view-movement {
         spring damping-ratio=0.75 stiffness=45 epsilon=0.0001
    }
    window-open {
        duration-ms 950
        curve "ease-out-expo"
        custom-shader "vec4 fall_from_top(vec3 coords_geo, vec3 size_geo) {
            float progress = niri_clamped_progress * niri_clamped_progress;
            vec2 coords = (coords_geo.xy - vec2(0.5, 0.0)) * size_geo.xy;
            coords.y += (1.0 - progress) * 1440.0;
            float random = (niri_random_seed - 0.5) / 2.0;
            random = sign(random) - random;
            float max_angle = 0.5 * random;
            float angle = (1.0 - progress) * max_angle;
            mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
            coords = rotate * coords;
            coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 0.0), 1.0);
            vec3 coords_tex = niri_geo_to_tex * coords_geo;
            return texture2D(niri_tex, coords_tex.st); 
        }
        vec4 open_color(vec3 coords_geo, vec3 size_geo) {
            return fall_from_top(coords_geo, size_geo);
        }"
    }
    window-close {
      duration-ms 785
      curve "linear"
      custom-shader r"
        vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
          float progress = niri_clamped_progress * niri_clamped_progress;
          vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
          coords.y -= progress * 1440.0;
          float random = (niri_random_seed - 0.5) / 2.0;
          random = sign(random) - random;
          float max_angle = 0.5 * random;
          float angle = progress * max_angle;
          mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
          coords = rotate * coords;
          coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
          vec3 coords_tex = niri_geo_to_tex * coords_geo;
          vec4 color = texture2D(niri_tex, coords_tex.st);
          color.a *= (1.0 - progress);

          return color;
        }
        vec4 close_color(vec3 coords_geo, vec3 size_geo) {
          return fall_and_rotate(coords_geo, size_geo);
        }
      "
    }
}



//  window rules  //
window-rule {
    geometry-corner-radius 3.5;
    clip-to-geometry true; 
}
window-rule {
    match app-id="foot"
    match app-id="Alacritty"
    match app-id="kitty"
    opacity 0.8
}
window-rule {
    match app-id="org.gnome.Nautilus"
    match app-id="org.gnome.Calculator"
    default-column-width { proportion 0.18; };
}
window-rule {
    match app-id="ONLYOFFICE"
    default-column-width { proportion 0.5; };
}
window-rule {
    match app-id="org-springframework-boot-loader-PropertiesLauncher"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$";
    open-floating true
}
window-rule {
    match title="Properties" app-id="org.gnome.Nautilus"
    open-floating false
    exclude app-id="org.gnome.NautilusPreviewer"
    default-column-width { proportion 0.15; };
}
window-rule {
    match app-id="zen"
    match app-id="loupe"
    match title="Open"
    match app-id="soffice"
    match title="Rename Multiple Files"
    match app-id="Steam"
    exclude title="Sign in to Steam"
    open-floating false
}
window-rule {
    open-maximized false
    open-maximized-to-edges false
}
window-rule {
    match app-id="waypaper"
    open-floating true
    default-column-width { fixed 785; };
    default-window-height { fixed 433; };
}
window-rule {
    match title="wallpaper-picker"
    open-floating true
    default-column-width { fixed 1920; };
    default-window-height { fixed 400; };
}
window-rule {
    match app-id=".blueman-manager-wrapped"
    default-column-width { fixed 530; };
}

// noctalia wallpaper in overview //
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// swww wallpaper in overview //
// layer-rule {
    // match namespace="swww-daemon"
    // place-within-backdrop true
// }

// blurred swww wallpaper in overview
layer-rule {
    match namespace="swww-daemonoverlay"
    place-within-backdrop true
}

// dms wallpaper in overview //
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

//  environment variables  //
environment {
    DISPLAY ":1";
    ELECTRON_OZONE_PLATFORM_HINT "auto";
    QT_QPA_PLATFORM "wayland";
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1";
    XDG_SESSION_TYPE "wayland";
    XDG_CURRENT_DESKTOP "niri";
    QT_QPA_PLATFORMTHEME "qt6ct"
};



// miscellaneous //
hotkey-overlay {
    skip-at-startup;
};
recent-windows {
    previews {
        max-scale 0.33; }
    debounce-ms 3000
    open-delay-ms 200
    highlight {
        padding 1
        corner-radius 5
    }
    binds {
        ALT+TAB { next-window; };
        ALT+CTRL+TAB { previous-window; };
        ALT+GRAVE { next-window filter="app-id"; };
        ALT+CTRL+GRAVE { previous-window filter="app-id"; };
        ALT+D { next-window; };
        ALT+A { previous-window; };
        ALT+CTRL+D { next-window filter="app-id"; };
        ALT+CTRL+A { previous-window filter="app-id"; };
    }
}
cursor {
    xcursor-theme "ComixCursors-Black"
    xcursor-size 40
}
debug {
        honor-xdg-activation-with-invalid-serial
            }

prefer-no-csd
include "../../.cache/hellwal/niri.kdl"